@import 'partials/variables';

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 100vw;
    overflow: hidden;
    display: flex;
}
.hidden {
    display: none;
}
@import 'partials/header';
@import 'partials/main';
@import 'partials/landing';
@import 'partials/about';
@import 'partials/projects';
@import 'partials/contact';