@import url('https://fonts.googleapis.com/css?family=Teko:400,600');
@import url('https://fonts.googleapis.com/css?family=Bitter');

// fonts
$header-font : 'Teko', sans-serif;
$body-font: 'Bitter', serif;

// colors
$web-color: rgb(70, 67, 224);
$front-end-color: rgb(67, 224, 132);
$back-end-color: rgb(161, 67, 224);
$game-color: rgb(224, 156, 67);