@import url("https://fonts.googleapis.com/css?family=Teko:400,600");
@import url("https://fonts.googleapis.com/css?family=Bitter");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vw;
  overflow: hidden;
  display: flex;
}

.hidden {
  display: none;
}

header {
  display: grid;
  grid-template-rows: repeat(12, 8.33%);
  grid-template-columns: 1 100%;
  width: 5vw;
  height: 100vh;
  background-color: grey;
  position: fixed;
  z-index: 20;
}
header img {
  width: 100%;
  grid-row: 1/2;
}
header nav {
  grid-row: 5/9;
}
header ul {
  height: 100%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
header ul li {
  height: 25%;
}
header a {
  text-decoration: none;
  color: black;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

#landing {
  height: 100vh;
  background-color: black;
  position: relative;
}
#landing .fullscreen-video-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-bottom: -20vh;
}
#landing .fullscreen-video-wrap video {
  min-width: 100vw;
  min-height: 100vh;
}
#landing .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/site-overlay.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  z-index: 20;
}
#landing .overlay2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(#1f202e, #f53e3e);
  filter: grayscale(40%);
  opacity: 0.5;
  z-index: 10;
}
#landing .overlayContent {
  position: absolute;
  display: grid;
  grid-template-rows: repeat(12, 8.33%);
  grid-template-columns: repeat(12, 8.3%);
  width: 100%;
  height: 100%;
  color: white;
  overflow: scroll;
  z-index: 30;
}
#landing h1 {
  grid-row: 7/9;
  grid-column: 4/8;
  font-family: "Teko", sans-serif;
  font-weight: 600;
  font-size: 5em;
  margin: 0;
}
#landing h2 {
  grid-row: 2/3;
  grid-column: 2/7;
  font-family: "Teko", sans-serif;
  font-weight: 600;
  font-size: 3.5em;
  margin: 0;
}
#landing h3 {
  grid-row: 4/5;
  grid-column: 2/7;
  font-family: "Teko", sans-serif;
  font-weight: 600;
  font-size: 3.5em;
  margin: 0;
}
#landing .card {
  grid-row: 5/6;
  grid-column: 2/7;
  font-family: "Teko", sans-serif;
  font-weight: 600;
  font-size: 5em;
  text-align: center;
  margin: auto;
}
#landing .card .animated {
  padding: 0 0.3em;
}
#landing #contact-button {
  grid-row: 2/3;
  grid-column: 10/12;
  font-family: "Teko", sans-serif;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  margin: auto 0;
  background-color: #4643e0;
  text-decoration: none;
  color: white;
}
#landing #web {
  background-color: #4643e0;
}
#landing #front-end {
  background-color: #43e084;
}
#landing #back-end {
  background-color: #a143e0;
}
#landing #game {
  background-color: #e09c43;
}
#landing .container {
  grid-row: 10/11;
  grid-column: 7/8;
  position: relative;
  width: 24px;
  height: 24px;
}
#landing .chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
#landing .chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}
#landing .chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
#landing .chevron:before,
#landing .chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}
#landing .chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}
#landing .chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
#landing .text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}
@keyframes pulse {
  to {
    opacity: 1;
  }
}

#about {
  height: 100vh;
  background-image: url(../images/about.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  font-family: "Bitter", serif;
  display: flex;
  flex-flow: row-reverse;
}
#about #about-main {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  height: 100vh;
  width: 50%;
}
#about #about-main h1, #about #about-main h2 {
  font-family: "Teko", sans-serif;
  text-align: right;
  color: #e09c43;
  margin: 0.3em;
  padding-right: 0.3em;
}
#about #about-main h1 {
  font-size: 1.7em;
  padding-left: 20%;
}
#about #about-main h2 {
  margin-top: 2em;
  font-size: 1.75em;
  filter: grayscale(40%);
}
#about #about-main hr {
  display: block;
  height: 1px;
  width: 70%;
  border: 0;
  margin-right: 0;
  border-top: 0.3em solid #e09c43;
  filter: grayscale(40%);
  padding: 0;
}
#about #fav-stack {
  margin-right: 0.3em;
  padding-right: 0.3em;
  padding-left: 20%;
  text-align: right;
}
#about #stacks {
  margin-right: 0.3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-left: 20%;
  text-align: right;
}
#about #stacks li {
  list-style: none;
}
#about #stacks .lists {
  padding: 0.5em;
}
#about #social {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}
#about #social a {
  margin: auto 0.5em;
}
#about #social a:hover {
  opacity: 0.5;
}
#about #social i {
  font-size: 2em;
  color: #e09c43;
}
#about #social p {
  font-family: "Teko", sans-serif;
  font-size: 1.5em;
}

#projects {
  height: 100vh;
  background-color: green;
}

#contact {
  height: 100vh;
  background-color: purple;
}

/*# sourceMappingURL=main.css.map */
